body{
    text-align: center;
}
h1{
    color: burlywood;
    font-size: 4rem;
    font-family: cursive;
}
.button{
    color: burlywood;
    border-color:brown;
    border-style: solid;
    border-radius: 10px;

}
.button:hover{
    color: goldenrod;
}
.input{
    background-color: antiquewhite;
    margin-top: 8%;
    padding-top: 5%;
    padding-bottom: 3%;
    width:60%;
    position: relative;
    left: 18%;
    border-color: black;
    box-shadow: 20px 20px 50px 15px grey;
    border-radius: 20px;


}